h1 {
  text-align: left;
  color: orange;
  
}

h2 {
  color: yellowgreen;
}

h3 {
  color: Red;
}

img {
  box-shadow: 10px 10px 5px black;
  
}

img.wrap {
  float: left;
  box-shadow: inset 0 0 10px #000000;
}

.bgw {
   background-color: white;
}

section {
  background-color: #000;
}

p {
  font-size: 15px;
  color: gray;
}

ul {
  border-style: solid;
  color: gray;
}
